In [ ]:
mylist = [1, 2, '3', 1.2, 'hello', [], [1,2,3]]
mylist[1] = 'salam'
mylist.append(12)
mylist.insert(5, '5')
print(mylist)

[1, 'salam', '3', 1.2, 'hello', '5', [], [1, 2, 3], 12]

In [ ]:
mytuple = (1, "salam", 2, [], [1,2], (1, 4), 1.2)
print(mytuple[2])

2

TypeError: 'tuple' object does not support item assignment

In [5]:
myset1 = {1, 2, 3, "1", 1, 2}
myset2 = {1, 10}
print(myset1)

{1, 2, 3, '1'}

In [10]:
myset1.add(1)
myset1.update([1, 2, 3, 4])
print(myset1)

{1, 2, 3, 4, '1'}

In [8]:
myset1.difference(myset2)

{'1', 2, 3}

In [ ]:
a = [1, 2]
b = a.copy() # b = [1, 2]

a += [3] # a = [1,2, 3]
print(b)

[1, 2]

In [ ]:
print(myset1)
print(myset1.intersection(myset2))
print(myset1)

{1, 2, 3, 4, '1'}
None
{1}

In [ ]:
mydict = {0 : ["salam", "s", "ss"], 1: "sib"}
print(mydict[0])

salam

In [ ]:
marks = [10, 11, 20, 19, 18]
names = ["x", 'y', 'z', 'f', 'e']
data = {'x': 10, "y":11 }

In [ ]:
data = dict()
while True:
    inp = input()
    if inp == 'q': break
    if inp.startswith('add'): #inp='add Ali 09954101020'
        inp = inp.split() # ['add', 'Ali', '09954101020']
        inp[1] = inp[1].lower()
        data[inp[1]] = inp[2]
        print('entry added', inp[1], inp[2])
    if inp.startswith('look'): # lookup Ali
        inp = inp.split()
        inp[1] = inp[1].lower() # ali
        for name in data:
            if name == inp[1]:
                print(name, ":", data[name])
    if inp.startswith('delete'):
        inp = inp.split()
        inp[1] = inp[1].lower()
        del data[inp[1]]

In [24]:
#print(mydict[2])
mydict.get(2, "nist")

'nist'

In [ ]:
list(mydict.items())
mydict.

[(0, 'salam'), (1, 'sib')]

In [29]:
print(mydict)

{0: 'salam', 1: 'sib'}

In [31]:
mydict[2] = "hi"
print(mydict)

{0: 'hi', 1: 'sib', 2: 'hi'}

In [32]:
for key in mydict:
    if mydict[key] == 'hi':
        print(key)

0
2

In [20]:
x = {'ali': 10, "maryam": 7, "sina": 19}
for key in x:
    print(key)
    print(x[key])

ali
10
maryam
7
sina
19

In [ ]:
dic = dict()
while True:
    inp = input()
    if inp == 'q' : break
    if inp not in dic:
        dic[inp] = 1
    else:
        dic[inp] += 1      
print(dic)

{'ali': 1, 'x': 1}

In [ ]:
dic = dict()
while True:
    inp = input()
    if inp == 'q' : break
    dic[inp] = dic.get(inp, 0) + 1     
print(dic)

In [7]:
#dic['x']
dic.get('y', 0)

0

In [ ]:
data = dict()
find_count = 0
while True:
    inp = input().split()
    if inp[0] == 'exit' : break
    elif inp[0] == 'Add': # "Add <username> <gender> <age> <id>"
        data[inp[-1]] = {'name' : inp[1], 
                         'age' : inp[3],
                         'gender' : inp[2]}
        print(f'User {inp[-1]} added successfully')
    
    elif inp[0] == "Find": # Find ma
        find_count += 1
        ID = inp[1]
        
        flag = 0
        for key in data:
            if key.lower().startswith(ID): # 1 Ali male 20 ali20ali
                print(find_count, data[ID]['name'], data[ID]['gender'], data['ID']['age'], ID)
                flag += 1
        if flag == 0:
            print('No user found')

In [18]:
x = [1, 2]
y = x.copy()
x += [3]
print(id(x))
print(id(y))

2279109251136
2279137770368

In [19]:
x = ['ali', 'alireze', 'maryam', 'mina']
x.sort()
print(x)

['ali', 'alireze', 'maryam', 'mina']

In [11]:
data = dict()
#data['ali12m'] = ['Ali', '12', 'male']
data['ali12m'] = {'name': 'Ali', 'age': '12', 'gender': 'male' }

#print(data['ali12m'][0]) # name in in the index 0
#print(data['ali12m']['name'])
#print(data.get('ali12m').get('name'))

In [12]:
print(data)

{'ali12m': {'name': 'Ali', 'age': '12', 'gender': 'male'}}

In [ ]:
data['ali12m']['age']